---
codename: key

# Docker
docker_users:
  - galaxy

# Autofs
autofs_service.install: True
autofs_service.enable: True
nfs_kernel_tuning: True

autofs_mount_points:
  - data
  - usrlocal

autofs_conf_files:
  data:
    - share       -rw,hard,nosuid         {{ nfs_server_ip }}:/data/share
  usrlocal:
    - /opt/galaxy        -rw,hard,nosuid         {{ nfs_server_ip }}:/opt/galaxy

# Custom pip installer
pip_venv_path: "{{ galaxy_venv_dir }}"
pip_install_dependencies:
  # # phdcomics
  - beautifulsoup4
  # # Used by code_files for apollo
  # - biopython
  # - bcbio-gff
  # # Needed for tool watching
  - watchdog
  # # Needed gxadmin graphs
  # - data_hacks
  # # used by reports
  # - WeasyPrint
  # - nbconvert
  # - gitlab-arc-fs
  # # Needed for usegalaxy-eu.vgcn-monitoring Telegraf role
  # - pyyaml
  # - GitPython
  # - python-openstackclient
  # # Needed by Gunicorn
  - sentry-sdk

yum_exclude_repos:
  - condor*
  - npm*

all_yum_repositories:
  - name: galaxy_gpel
    description: Galaxy Packages for Enterprise Linux $releasever - $basearch
    baseurl: https://depot.galaxyproject.org/yum/el/$releasever/$basearch/
    enabled: true
    gpgcheck: false
    retries: 1
    timeout: 10

# Galaxy monitoring
monitor_condor: true
monitor_condor_split_util: true

# Certbot
certbot_virtualenv_package_name: python3-virtualenv
#certbot_dns_provider:
certbot_auth_method: --webroot
certbot_domains: "{{ server_names }}"
certbot_post_renewal: |
  systemctl restart nginx || true
certbot_share_key_users:
  - nginx
certbot_well_known_root: /srv/nginx/_well-known_root

# rsync to nfs
galaxy_nfs_location: /data/share

# Nginx
nginx_servers:
  - redirect-ssl
nginx_ssl_servers:
  # - galaxyproject
  # - telescope-ssl
  - galaxy-main
  - galaxy-ie-main
  # - galaxy-test-proxy
nginx_conf_http:
  client_max_body_size: 1g
  proxy_cache_path: "/tmp/nginx-cache levels=1:2 keys_zone=STATIC:10m inactive=24h  max_size=1g"
  gzip: "on"
  gzip_proxied: any
  # The ngx_http_gzip_static_module module allows sending precompressed files with the “.gz” filename extension instead of regular files.
  gzip_static: "on"
  gzip_http_version: "1.1"
  gzip_disable: '"MSIE [1-6]\."'
  gzip_vary: "on"
  gzip_comp_level: 6
  gzip_types: |
    text/plain
    text/css
    text/xml
    text/javascript
    application/javascript
    application/x-javascript
    application/json
    application/xml
    application/xml+rss
    application/xhtml+xml
    application/x-font-ttf
    application/x-font-opentype
    image/png
    image/svg+xml
    image/x-icon
  gzip_buffers: "16 8k"
  gzip_min_length: 128
nginx_enable_default_server: false
nginx_flavor: ""

# Nginx Letsencrypt bindings
nginx_ssl_role: usegalaxy-eu.certbot
nginx_conf_ssl_certificate: /etc/ssl/certs/fullchain.pem
nginx_conf_ssl_certificate_key: /etc/ssl/user/privkey-nginx.pem

# Dynmotd
dynmotd_custom:
  - name: Condor
    command: "condor_q -totals | tail -n 2"

# CVMFS
cvmfs_role: client
galaxy_cvmfs_repos_enabled: config-repo

galaxy_cvmfs_server_urls:
  - domain: galaxyproject.org
    urls:
      - "http://cvmfs1-ufr0.galaxyproject.eu/cvmfs/@fqrn@"

# SystemD
galaxy_systemd_mode: "gunicorn"
galaxy_systemd_gunicorns: 2
galaxy_systemd_gunicorn_workers: 4
galaxy_systemd_gunicorn_timeout: 600
galaxy_systemd_handlers: 3
galaxy_systemd_workflow_schedulers: 3
galaxy_systemd_handler_env: "" 
galaxy_systemd_workflow_scheduler_env: ""
galaxy_systemd_memory_limit: 120
galaxy_systemd_memory_limit_handler: 12
galaxy_systemd_memory_limit_workflow: 15


# HTCondor
condor_role: submit
condor_host: "{{ central_manager_ip }}" # !!! CHECK CHANGE PORT TO 9618 IN TF
condor_password: '{{ condor_pass }}'
condor_allow_write: "*" # !!! CHECK
condor_daemons:
  - MASTER
  - SCHEDD
  # - NEGOTIATOR
condor_allow_negotiator: $(ALLOW_WRITE)
condor_allow_administrator: $(ALLOW_NEGOTIATOR)
condor_network_interface: eth0
condor_fs_domain: usegalaxy.it
condor_uid_domain: usegalaxy.it
condor_enforce_role: false

# gie_proxy
gie_proxy_dir: '{{ galaxy_root }}/gie-proxy/proxy'
gie_proxy_git_version: main
gie_proxy_setup_nodejs: nodeenv
gie_proxy_virtualenv_command: /usr/bin/python3 -m virtualenv #"{{ pip_virtualenv_command }}"
gie_proxy_nodejs_version: '10.13.0'
gie_proxy_virtualenv: '{{ galaxy_root }}/gie-proxy/venv'
gie_proxy_setup_service: systemd
gie_proxy_sessions_path: '{{ galaxy_mutable_data_dir }}/interactivetools_map.sqlite'
gie_proxy_port: 8800
gie_proxy_verbose: true

# gxadmin
postgres_user: galaxy
postgres_host: '{{ postgres_ip }}'
postgres_port: 5432

# Slurp script
galaxy_slurper: galaxy
galaxy_slurp_influx_pass: "{{ influxdb.node.password }}"
galaxy_slurp_influx_user: "{{ influxdb.node.username }}"
galaxy_slurp_influx_url: "{{ influxdb.url }}"

# GRT
galaxy_grt_exporter: galaxy
galaxy_grt_uploader: galaxy

# Influx Notifier
gxadmin_influx_task_notifier: true
gxadmin_influx_task_notifier_db: notifications

# postgres_pass defined in secret_group_vars/all.yml
gxadmin_commit: main
gxadmin_dir: /opt/gxadmin
gxadmin_bin_dir: /usr/bin
gxadmin_force: true

# GALAXY
galaxy_group:
  name: galaxy
  gid: 999
galaxy_system_group: galaxy
galaxy_log_dir: "/var/log/galaxy"
galaxy_layout: root-dir
galaxy_separate_privileges: true
galaxy_manage_paths: true
galaxy_build_client: false
galaxy_restart_handler_name: Restart Galaxy
galaxy_create_user: true
galaxy_user:
  name: galaxy
  create_home: true
  home: /opt/galaxy
  uid: 999
  shell: /bin/bash


# Galaxy configuration files will be written with these permissions (mode argument to Ansible copy/template module)
galaxy_config_perms: 0644

galaxy_root: /opt/galaxy
galaxy_handler_count: "{{ galaxy_systemd_handlers }}"
galaxy_workflow_scheduler_count: "{{ galaxy_systemd_workflow_schedulers }}"
galaxy_home_dir: /opt/galaxy
galaxy_mutable_config_dir: "{{ galaxy_root }}/mutable-config"
galaxy_mutable_data_dir: "{{ galaxy_root }}/mutable-data"
galaxy_shed_tools_dir: "{{ galaxy_root }}/shed_tools"
galaxy_tool_data_path: "{{ galaxy_root }}/tool-data"
__galaxy_shed_tools_dir: "{{ galaxy_shed_tools_dir }}"
galaxy_backup_configfiles: false

galaxy_server_dir: "{{ galaxy_root }}/server"
galaxy_config_dir: "{{ galaxy_root }}/config"
galaxy_job_working_directory: "{{ galaxy_config['galaxy']['job_working_directory'] }}"
# ucsc_build_sites:

galaxy_venv_dir: "{{ galaxy_root }}/venv"
# galaxy_virtualenv_command: "python3 -m venv"
# galaxy_virtualenv_python: "python3.6"
galaxy_nonrepro_tools: "{{ galaxy_root }}/custom-tools"
galaxy_nonrepro_commit: master

galaxy_dynamic_job_rules_src_dir: files/galaxy/dynamic_rules
galaxy_dynamic_job_rules_dir: "{{ galaxy_root }}/dynamic_rules"
galaxy_dynamic_job_rules:
  - usegalaxy/joint_destinations.yaml
  - usegalaxy/sorting_hat.py
  - usegalaxy/destination_specifications.yaml
  - usegalaxy/tool_destinations.yaml
  - usegalaxy/sorting_hat.yaml
  - readme.txt

# Custom override
# Our galaxy_tool_dependency_dir is on NFS, and permissions are set in such a
# way that they cannot be changed by the ansible connected user.
galaxy_dirs:
  - "{{ galaxy_mutable_data_dir }}"
  - "{{ galaxy_mutable_config_dir }}"
  - "{{ galaxy_cache_dir }}"
  - "{{ galaxy_shed_tools_dir }}"
  # - "{{ galaxy_tool_dependency_dir }}"
  - "{{ galaxy_file_path }}"
  - "{{ galaxy_job_working_directory }}"
  - "{{ galaxy_tool_data_path }}"
  - "{{ galaxy_nonrepro_tools }}"
  - "{{ galaxy_webhook_dir }}"
  - "{{ galaxy_tour_dir }}"
  - "{{ galaxy_log_dir }}"
  - "{{ galaxy_server_dir }}/lib/galaxy/tools/toolbox/filters/" # !!! CHECK
  - "{{ tpv_mutable_dir }}"
  - "{{ tpv_config_dir }}"
  - "{{ galaxy_nfs_location }}/persisted_data" # pulsar
  - "{{ galaxy_nfs_location }}/staging"
  - "{{ galaxy_nfs_location }}/tools/"

galaxy_instance_hostname: "{{ inventory_hostname }}"
galaxy_config_style: yaml

galaxy_repo: "https://github.com/usegalaxy-eu/galaxy.git"
galaxy_commit_id: "release_23.0_europe"
galaxy_force_checkout: true # discard any modified files
#galaxy_admin_email_from: 'noreply@usegalaxy.eu'

galaxy_singularity_images_cvmfs_path: "/cvmfs/singularity.galaxyproject.org/all/"

galaxy_jobconf:
  plugin_workers: 8
  handlers:
    count: "{{ galaxy_systemd_handlers }}"
    assign_with: db-skip-locked
    max_grab: 16
    ready_window_size: 32
  plugins:
    - id: condor
      load: galaxy.jobs.runners.condor:CondorJobRunner
    - id: local
      load: galaxy.jobs.runners.local:LocalJobRunner
    - id: pulsar_embedded
      load: galaxy.jobs.runners.pulsar:PulsarEmbeddedJobRunner
      pulsar_config: "{{ galaxy_config_dir }}/pulsar_app.yml" # !!! CHECK
    - id: pulsar_eu_it03
      load: galaxy.jobs.runners.pulsar:PulsarMQJobRunner
      params:
        amqp_url: "pyamqp://pulsar_it03:{{ rabbitmq_users_password.pulsar_it03 }}@{{ rabbitmq_dns }}:5671//pulsar/pulsar_it03?ssl=1"
        galaxy_url: "https://usegalaxy-it.ext.cineca.it"
        manager: production
        amqp_acknowledge: "true"
        amqp_ack_republish_time: 300
        amqp_consumer_timeout: 2.0
        amqp_publish_retry: "true"
        amqp_publish_retry_max_retries: 60
  default_destination: tpv_dispatcher
  destinations:
    - id: local
      runner: local
    - id: condor
      runner: condor
      params:
        tmp_dir: true
    - id: tpv_dispatcher
      runner: dynamic
      type: python
      function: map_tool_to_destination
      rules_module: tpv.rules
      tpv_config_files:
        - "{{ tpv_config_dir }}/tool_defaults.yml"
        - "https://raw.githubusercontent.com/galaxyproject/tpv-shared-database/main/tools.yml"
        - "{{ tpv_config_dir }}/destinations.yml"
        - "{{ tpv_config_dir }}/tools.yml"
        - "{{ tpv_config_dir }}/interactive_tools.yml"
        - "{{ tpv_config_dir }}/users.yml"
        - "{{ tpv_config_dir }}/roles.yml"
  resources:
    - id: usegpu
      names: [gpu]
  tools:
    # TODO(hxr): implement validation that checks that every destination
    # used here is defined above.
    - id: keras_train_and_eval
      resources: usegpu
    - id: gmx_sim
      resources: usegpu
  resources:
    - id: usegpu
      names: [gpu]
  limits:
    - type: "destination_user_concurrent_jobs"
      id: "condor_upload"
      value: "10"
    - type: "walltime"
      value: "'148:00:00'"
    ## Limited time for Interactive tools
    - type: "destination_user_concurrent_jobs"
      value: "4"
      id: "interactive_pulsar"
    - type: "destination_user_concurrent_jobs"
      value: "4"
      id: "interactive_pulsar_hi_mem"
    - type: "output_size"
      value: "'300GB'"
    - type: "registered_user_concurrent_jobs"
      value: "30"
    - type: "anonymous_user_concurrent_jobs"
      value: "3"
    - type: "destination_user_concurrent_jobs"
      id: "sh_fdid_condor_docker_ie"
      value: "3"
    - type: "destination_user_concurrent_jobs"
      id: "sh_fdid_condor_docker_ie_interactive"
      value: "3"
    - type: "destination_user_concurrent_jobs"
      id: "sh_fdid_condor_intensive_jobs"
      value: "10"

galaxy_config: "{{ galaxy_config_hash }}"

galaxy_config_file_src_dir: files/galaxy
galaxy_config_files:
  # TODO(bgruening): sync this with cvmfs? can we have ours be just a small additional builds.txt?
  - src: "{{ galaxy_config_file_src_dir }}/config/builds.txt"
    dest: "{{ galaxy_config['galaxy']['builds_file_path'] }}"
  - src: "{{ galaxy_config_file_src_dir }}/config/data_manager_conf.xml"
    dest: "{{ galaxy_config['galaxy']['data_manager_config_file'] }}"
  - src: "{{ galaxy_config_file_src_dir }}/config/datatypes_conf.xml"
    dest: "{{ galaxy_config['galaxy']['datatypes_config_file'] }}"
  - src: "{{ galaxy_config_file_src_dir }}/config/dependency_resolvers_conf.xml"
    dest: "{{ galaxy_config['galaxy']['dependency_resolvers_config_file'] }}"
  - src: "{{ galaxy_config_file_src_dir }}/config/email_domain_blocklist.conf"
    dest: "{{ galaxy_config['galaxy']['email_domain_blocklist_file'] }}"
  - src: "{{ galaxy_config_file_src_dir }}/config/user_preferences_extra_conf.yml"
    dest: "{{ galaxy_config['galaxy']['user_preferences_extra_conf_path'] }}"
  - src: "{{ galaxy_config_file_src_dir }}/config/job_resource_params_conf.xml" # for tvp
    dest: "{{ galaxy_config['galaxy']['job_resource_params_file'] }}"
  - src: "{{ galaxy_config_file_src_dir }}/config/trs_servers_conf.yml"
    dest: "{{ galaxy_config['galaxy']['trs_servers_config_file'] }}"
  # test? Unknown if this works.
  - src: "{{ galaxy_config_file_src_dir }}/config/error_report.yml"
    dest: "{{ galaxy_config_dir }}/error_report.yml"
  - src: "{{ galaxy_config_file_src_dir }}/config/job_metrics_conf.yml"
    dest: "{{ galaxy_config['galaxy']['job_metrics_config_file'] }}"
  - src: "{{ galaxy_config_file_src_dir }}/config/migrated_tools_conf.xml"
    dest: "{{ galaxy_config['galaxy']['migrated_tools_config'] }}"
  - src: "{{ galaxy_config_file_src_dir }}/config/tool_data_table_conf.xml"
    dest: "{{ galaxy_config_dir }}/tool_data_table_conf.xml"
  - src: "{{ galaxy_config_file_src_dir }}/config/tool_sheds_conf.xml"
    dest: "{{ galaxy_config['galaxy']['tool_sheds_config_file'] }}"
  - src: "{{ galaxy_config_file_src_dir }}/config/ucsc_build_sites.txt"
    dest: "{{ galaxy_config['galaxy']['ucsc_build_sites'] }}"
  - src: "{{ galaxy_config_file_src_dir }}/config/echo_main_env.xml"
    dest: "{{ galaxy_config_dir }}/echo_main_env.xml"
  - src: "{{ galaxy_config_file_src_dir }}/tpv/tool_defaults.yml" # !!! CHECK AND ADD LATER
    dest: "{{ tpv_mutable_dir }}/tool_defaults.yml"
  - src: "{{ galaxy_config_file_src_dir }}/tpv/destinations.yml"
    dest: "{{ tpv_mutable_dir }}/destinations.yml"
  - src: "{{ galaxy_config_file_src_dir }}/tpv/tools.yml"
    dest: "{{ tpv_mutable_dir }}/tools.yml"
  - src: "{{ galaxy_config_file_src_dir }}/tpv/roles.yml"
    dest: "{{ tpv_mutable_dir }}/roles.yml"
  - src: "{{ galaxy_config_file_src_dir }}/tpv/interactive_tools.yml"
    dest: "{{ tpv_mutable_dir }}/interactive_tools.yml"
  - src: "{{ galaxy_config_file_src_dir }}/tpv/users.yml"
    dest: "{{ tpv_mutable_dir }}/users.yml"

  #- src: files/galaxy/config/job_resource_params_conf.xml
  #dest: "{{ galaxy_config['galaxy']['job_resource_params_file'] }}"
  #- src: files/galaxy/config/pulsar_stampede_actions.yml
  #dest: "{{ galaxy_config_dir }}/pulsar_stampede_actions.yml"
  #- src: files/galaxy/config/pulsar_bridges_actions.yml
  #dest: "{{ galaxy_config_dir }}/pulsar_bridges_actions.yml"
  #- src: files/galaxy/config/pulsar_jetstream.yml
  #dest: "{{ galaxy_config_dir }}/pulsar_jetstream.yml"
  #- src: files/galaxy/config/pulsar_jetstream_actions.yml
  #dest: "{{ galaxy_config_dir }}/pulsar_jetstream_actions.yml"

galaxy_config_template_src_dir: templates/galaxy
galaxy_config_templates:
  - src: "{{ galaxy_config_template_src_dir }}/config/build_sites.yml.j2"
    dest: "{{ galaxy_config['galaxy']['build_sites_config_file'] }}"
  - src: "{{ galaxy_config_template_src_dir }}/config/global_host_filters.py.j2" # !!! CHECK
    dest: "{{ galaxy_server_dir }}/lib/galaxy/tools/toolbox/filters/global_host_filters.py" # !!! CHECK
  - src: "{{ galaxy_config_template_src_dir }}/config/job_conf.yml.j2"
    dest: "{{ galaxy_config_dir }}/job_conf.yml"
  - src: "{{ galaxy_config_template_src_dir }}/config/container_resolvers_conf.xml.j2"
    dest: "{{ galaxy_config_dir }}/container_resolvers_conf.xml"
  - src: "{{ galaxy_config_template_src_dir }}/config/user_filters.py.j2" # !!! CHECK
    dest: "{{ galaxy_server_dir }}/lib/galaxy/tools/toolbox/filters/user_filters.py" # !!! CHECK
  - src: "{{ galaxy_config_template_src_dir }}/config/nagios_tool_conf.xml"
    dest: "{{ galaxy_config_dir }}/nagios_tool_conf.xml"
  # - src: "{{ galaxy_config_template_src_dir }}/config/oidc_backends_config.xml"
  #   dest: "{{ galaxy_config['galaxy']['oidc_backends_config_file'] }}"
  - src: "{{ galaxy_config_template_src_dir }}/config/oidc_config.xml"
    dest: "{{ galaxy_config['galaxy']['oidc_config_file'] }}"
  # - src: "{{ galaxy_config_template_src_dir }}/config/grt.yml.j2"
  #   dest: "{{ galaxy_config_dir }}/grt.yml"
  - src: "{{ galaxy_config_template_src_dir }}/config/pulsar_app.yml"
    dest: "{{ galaxy_config_dir }}/pulsar_app.yml"
  - src: "{{ galaxy_config_template_src_dir }}/config/tool_conf.xml.j2"
    dest: "{{ galaxy_config_dir }}/tool_conf.xml"
  - src: "{{ galaxy_config_template_src_dir }}/config/galaxy_workflow_scheduler.j2"
    dest: "{{ galaxy_config_dir }}/workflow_schedulers_conf.xml"
  # - src: "{{ galaxy_config_template_src_dir }}/config/file_sources_conf.yml.j2"
  #   dest: "{{ galaxy_config_dir }}/file_sources_conf.yml"
  # - src: "{{ galaxy_config_template_src_dir }}/config/object_store_conf.xml.j2"
  #   dest: "{{ galaxy_config['galaxy']['object_store_config_file'] }}"

# TPV 
tpv_config_dir_name: total_perspective_vortex
galaxy_job_config_file: "{{ galaxy_config_dir }}/job_conf.yml"
galaxy_extra_privsep_dirs:
  - "{{ tpv_mutable_dir }}"
tpv_privsep: true
tpv_mutable_dir: "{{ galaxy_mutable_data_dir }}/{{ tpv_config_dir_name }}"
tpv_config_dir: "{{ galaxy_config_dir }}/{{ tpv_config_dir_name }}"

# TUS
tus_upload_store: /data/share/tus
galaxy_tusd_port: 1080
tusd_instances:
  - name: main
    user: "galaxy"
    group: "galaxy"
    args:
      - "-host=localhost"
      - "-port={{ galaxy_tusd_port }}"
      - "-upload-dir={{ tus_upload_store }}"
      - "-hooks-http=https://{{ inventory_hostname }}/api/upload/hooks"
      - "-hooks-http-forward-headers=X-Api-Key,Cookie"
