---
# This is a file of variables that will be processed in job_conf.yml.j2
# This is needed, because it contains other variables

galaxy_jobconf:
  plugin_workers: 8
  handlers:
    count: "{{ galaxy_systemd_handlers }}"
    assign_with: db-skip-locked
    max_grab: 16
    ready_window_size: 32
  plugins:
    - id: condor
      load: galaxy.jobs.runners.condor:CondorJobRunner
    - id: local
      load: galaxy.jobs.runners.local:LocalJobRunner
    - id: pulsar_embedded
      load: galaxy.jobs.runners.pulsar:PulsarEmbeddedJobRunner
      pulsar_config: "{{ galaxy_config_dir }}/pulsar_app.yml" # !!! CHECK

  pulsar_it03:
    load: galaxy.jobs.runners.pulsar:PulsarMQJobRunner
    amqp_ack_republish_time: 300
    amqp_acknowledge: true
    amqp_consumer_timeout: 2.0
    amqp_publish_retry: true
    amqp_publish_retry_max_retries: 60
    amqp_url: pyamqp://pulsar_it03:{{ rabbitmq_users_password.pulsar_it03 }}@rabbitmq-usegalaxy-it.cloud.ba.infn.it:5671//pulsar/pulsar_it03?ssl=1
    galaxy_url: https://usegalaxy-it.cloud.ba.infn.it
    manager: production

  default_destination: tpv_dispatcher
  destinations:
    - id: local
      runner: local
    - id: condor
      runner: condor
      params:
        tmp_dir: true
    - id: tpv_dispatcher
      runner: dynamic
      type: python
      function: map_tool_to_destination
      rules_module: tpv.rules
      tpv_config_files:
        - "{{ tpv_config_dir }}/tool_defaults.yml"
        - "https://raw.githubusercontent.com/galaxyproject/tpv-shared-database/main/tools.yml"
        - "{{ tpv_config_dir }}/destinations.yml"
        - "{{ tpv_config_dir }}/tools.yml"
        - "{{ tpv_config_dir }}/interactive_tools.yml"
        - "{{ tpv_config_dir }}/users.yml"
        - "{{ tpv_config_dir }}/roles.yml"
  resources:
    - id: usegpu
      names: [gpu]
  tools:
    # TODO(hxr): implement validation that checks that every destination
    # used here is defined above.
    - id: keras_train_and_eval
      resources: usegpu
    - id: gmx_sim
      resources: usegpu
  resources:
    - id: usegpu
      names: [gpu]
  limits:
    - type: "destination_user_concurrent_jobs"
      id: "condor_upload"
      value: "10"
    - type: "walltime"
      value: "'148:00:00'"
    ## Limited time for Interactive tools
    - type: "destination_user_concurrent_jobs"
      value: "4"
      id: "interactive_pulsar"
    - type: "destination_user_concurrent_jobs"
      value: "4"
      id: "interactive_pulsar_hi_mem"
    - type: "output_size"
      value: "'300GB'"
    - type: "registered_user_concurrent_jobs"
      value: "30"
    - type: "anonymous_user_concurrent_jobs"
      value: "3"
    - type: "destination_user_concurrent_jobs"
      id: "sh_fdid_condor_docker_ie"
      value: "3"
    - type: "destination_user_concurrent_jobs"
      id: "sh_fdid_condor_docker_ie_interactive"
      value: "3"
    - type: "destination_user_concurrent_jobs"
      id: "sh_fdid_condor_intensive_jobs"
      value: "10"
