<?xml version="1.0"?>
<object_store type="distributed">
    <backends>
        <!-- New data dir where datasets are now stored by uuid >=23.1 -->
        <backend id="newdata" type="disk" store_by="uuid" weight="1">
		<files_dir path="{{ file_path }}" />
	    <extra_dir type="temp" path="{{ job_working_directory }}/tmp" />
	    <extra_dir type="job_work" path="{{ job_working_directory }}" />
        </backend>
    </backends>
</object_store>
