# Data volumes
{% if "data" in autofs_mount_points %}
{% for row in autofs_conf_files.data %}
{{ row }}
{% endfor %}
{% endif %}

# Gx test volumes
{% if "gxtest" in autofs_mount_points %}
{% for row in autofs_conf_files.gxtest %}
{{ row }}
{% endfor %}
{% endif %}

# Gx main/key volumes
{% if "gxkey" in autofs_mount_points %}
{% for row in autofs_conf_files.gxkey %}
{{ row }}
{% endfor %}
{% endif %}

# JWD volumes
{% if "jwd" in autofs_mount_points %}
{% for row in autofs_conf_files.jwd %}
{{ row }}
{% endfor %}
{% endif %}
