{% if "data" in autofs_mount_points %}
/data           /etc/auto.data
{% endif %}
{% if "discontinued" in autofs_mount_points %}
/discontinued   /etc/auto.discontinued
{% endif %}
{% if "usrlocal" in autofs_mount_points or "usrlocal_celerycluster" in autofs_mount_points %}
/-              /etc/auto.usrlocal
{% endif %}
