{% if "usrlocal" in autofs_mount_points %}
{% for row in autofs_conf_files.usrlocal %}
{{ row }}
{% endfor %}
{% endif %}

{% if "usrlocal_celerycluster" in autofs_mount_points %}
{% for row in autofs_conf_files.usrlocal_celerycluster %}
{{ row }}
{% endfor %}
{% endif %}
